/*
 * base color: #A2C6C5
 * */

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 400 80%/1.5 helvetica, arial, sans-serif;
  color: #333;
  background: #eee url(https://images.unsplash.com/photo-1437580213524-83662a2ccd95?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=79f3c3b5e49986ca497748fb90940f52) top center;
}

a {
  text-decoration: none;
  color: #536690;
}

a:visited {
  color: #D67073;
}

a:not(:visited):hover {
  text-decoration: underline;
  color: #7D8CAD;
}

p {
  line-height: 1.6;
}

.fade-in {
  animation: fade-in .3s;
}

.dimmed {
  color: #999;
}

.main-header {
  padding: 0 0 2.4rem;
}

.main-title {
  margin: 0;
  margin-bottom: 1rem;
}

.main-pagination {
  text-align: center;
}

.main-navigation a,
.main-pagination .pagination-item:first-child {
  margin-right: 2rem;
}

.main-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-article p,
.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer {
  padding: 2.4rem 0;
}

@media (max-width: 479px) {
  .container {
    padding: 2rem;
  }

  .main-contents {
    margin-top: -1rem;
  }

  .main-article h2 {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

@media (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }

  .main-contents {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -1.1rem;
  }

  .main-article {
    width: 200px;
  }
  
  .main-article h2 {
    margin-bottom: -.15rem;
    margin-top: 2.1rem;
  }

  .main-header {
    padding-top: 3rem;
  }
}

@media (min-width: 640px) {
  .container {
    width: 640px;
  }

  .main-article {
    width: 300px;
  }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
