html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font: 400 80%/1.5 helvetica, arial, sans-serif;
    color: #333;
    background: #eee;
}

p {
    line-height: 1.6;
}

.hidden {
    display: none;
}

.fade-in {
    animation: fade-in .3s;
}

.dimmed {
    color: #999;
}

.main-header {
    padding: 0 0 2.4rem;
    overflow: hidden;
}

.social-badge {
    float: right;
    margin-top: .7em;
    margin-left: 1em;
}

.main-title {
    margin: 0;
    margin-bottom: 1rem;
}

.main-navigation {
    float: left;
}

.search {
    float: right;
}

.main-pagination {
    text-align: center;
}

.main-contents:blank + .main-pagination--bottom {
    display: none;
}

.main-navigation a,
.main-pagination .pagination-item:first-child {
    margin-right: 2rem;
}

.pagination-item--real + .pagination-item--placeholder {
    display: none;
}

.main-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2.4rem;
}

.main-contents--permalink {
    flex-direction: column;
}

.main-article p,
.main-footer p {
    margin: 0;
    padding: 0;
}

.main-article:not(.main-article--reblog) figcaption p {
    font-size: 1.5em;
    font-weight: bold;
}

.main-article img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.main-article .notes img,
.main-article .following img {
    width: auto;
}

.main-article [id*=tumblr_video_container] {
    width: 100% !important;
    height: auto !important;
}

.main-article [id*=tumblr_video_container] iframe {
    width: 100%;
}

.main-article--index [id*=tumblr_video_container] iframe {
    height: auto;
}

.main-article--index footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.main-article--permalink footer .tag {
    margin-right: 1em;
}

.main-article--permalink footer .date {
    float: right;
}

.main-article--permalink p {
    margin-bottom: 1.25rem;
}

.main-article--permalink pre {
    line-height: 2;
    padding: 1.1rem;
    margin: 1.45rem 0 1.35rem;
    background: #333;
    color: #eee;
    font-size: 1em;
}

.main-article--permalink blockquote {
    margin-top: 0;
    margin-bottom: 0
}

.main-article--permalink ul {
    margin: 1.2rem auto;
}

.main-article--permalink li {
    line-height: 1.6;
}

.main-comments {
    margin-top: 2.12rem;
}

.main-footer {
    padding: 2.4rem 0;
}

@media (max-width: 479px) {
    .container {
        padding: 2rem;
    }

    .search {
        display: block;
        width: 100%;
        margin: 2rem 0 0;
        text-align: left;
    }

    .main-contents {
        margin-top: -1rem;
    }

    .main-article {
        margin-top: 2rem;
    }

    .main-article h2,
    .main-article figcaption p {
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media (min-width: 480px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }

    .main-contents {
        margin-top: -1.1rem;
    }

    .main-contents--index {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-article {
        width: 200px;
        margin-top: 2.12rem;
    }

    .main-article--permalink {
        width: 100%;
    }

    .main-article--index.main-article--video,
    .main-article--index.main-article--photo {
        align-self: flex-end;
    }

    .main-article h2,
    .main-article figcaption p {
        margin-bottom: .5rem;
    }

    .main-article--permalink h2,
    .main-article--permalink figcaption p {
        margin-bottom: 1.1rem;
    }

    .main-header {
        padding-top: 3rem;
    }

    .following {
        column-count: 2;
        column-gap: 75px;
    }
}

@media (min-width: 640px) {
    .container {
        width: 640px;
    }

    .main-article {
        width: 300px;
    }

    .main-article--permalink {
        width: 100%;
    }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}
